<div>
<div>id: <%= @condition.id %></div>
<div>日付: <%= @condition.evaluate_on %></div>
<div>評価: <%= @condition.evaluation %></div>
<div>モチベーション : <%= @condition.motivation %></div>

<%= link_to("編集", "/conditions/#{@condition.id}/edit") %>
<%= link_to("削除", "/conditions/#{@condition.id}/destroy", {method: "delete"}) %>

<%= link_to("一覧に戻る", "/conditions/index") %>
</div>