<main>


    <div class="main-left">
      <h2 class="index-title"><%= @a_day %>のあなた</h2>
      <div class="condition">
        <div class="evaluation-area">
          <p class="index-title">評価</p>
          <%= react_component("Evaluation", props: {condition: @conditions}, pretender: true) %>
        </div>
        <%= react_component("Motivation", props: {condition: @conditions}) %>
      </div>
      <div class="emotion-aggregate">
        <div class="index-title">感情カードの割合</div>


        <div class="emotion-graph">
          <%= react_component("PieChart", props: {cardsHappy: @cards[1], cardsGrad: @cards[2], cardsSad: @cards[3], cardsAngry: @cards[4]}) %>
        </div>
      </div>
      <div class="emotion-card-section">
        <p class="index-title">感情カード一覧</p>
        <div class="cards-frame" >
          <p class="index-title">楽しい</p>
          <div class="cards-area">
            <% @cards[1].each do |card| %>
              <%= react_component("Card", props: {card: card}) %>
            <% end %>
          </div>
        </div>
        <div class="cards-frame" >
          <p class="index-title">嬉しい</p>
          <div class="cards-area">
            <% @cards[2].each do |card| %>
              <%= react_component("Card", props: {card: card}) %>
            <% end %>
          </div>
        </div>
        <div class="cards-frame" >
          <p class="index-title">悲しい</p>
          <div class="cards-area">
            <% @cards[3].each do |card| %>
              <%= react_component("Card", props: {card: card}) %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="cards-frame" >
        <p class="index-title">怒り</p>
        <div class="cards-area">
        <% if @cards[4].present? %>
          <% @cards[4].each do |card| %>
            <%= react_component("Card", props: {card: card}) %>
          <% end %>
        <% else %>
            カードはまだ投稿されていません
        <% end %>
        </div>
      </div>
    </div>



</main>




