
<div>
  <% @conditions.each do |condition| %>
    <p>condition</p>
    <p>id: <%= condition.id %></p>
    <p>user_id: <%= condition.user_id %></p>
    <p>evaluation: <%= condition.evaluation %></p>
    <p>motivation: <%= condition.motivation %></p>
  <% end %>

  <%= @a_day %>
  <div id="condition_result">condition_ajax</div>
  <p>================</p>

  <% @cards.each do |card| %>
    <p>card</p>
    <p>id: <%= card.id %></p>
    <p>user_id: <%= card.user_id %></p>
    <p>feel_on: <%= card.feel_on %></p>
    <p>feeling: <%= card.feeling %></p>
    <p>detail: <%= card.detail %></p>
    <p>---------------</p>

  <% end %>

  <div id="caer_result">card_ajax</div>
</div>
