<header>
<div class="navbar">
  <div class="logo">
    <div class="logo-img">
      <%= image_tag "app-logo.png", alt:"あなたと天気" %>
    </div>
    <div class="logo-letter">
      <p>あなたと天気</p>
    </div>
  </div>
  <div class="navbar-nav">
    <ul class="navbar-nav-ul">
      <li class="nav-item">
        <a class="nav-link" href="#">ログイン</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#regist-section">新規登録</a>
      </li>
    </ul>
  </div>
</div>
</header>

<main>
  <div class="main-frame">
    <div class="main-left">
      <h2 class="index-title">2020/11/24のあなた</h2>
      <div class="condition">
        <div class="evaluation-area">
          <p class="index-title">評価</p>
          <div class="evaluation-img-area">
            <%= image_tag "happy1@2x.png", class:"evaluation-img" %>
          </div>
        </div>
        <div class="motivation-area">
          <p class="index-title">モチベーション</p>
          <div class="motivation-img-area">
            <%= image_tag  "motivated@2x.png", class:"motivation-img"  %>
            <%= image_tag  "motivated@2x.png", class:"motivation-img"  %>
            <%= image_tag  "not_motivated@2x.png", class:"motivation-img"  %>
            <%= image_tag  "not_motivated@2x.png", class:"motivation-img"  %>
          </div>
        </div>
      </div>
      <div class="emotion-aggregate">
        <div class="index-title">感情カードの割合</div>
        <div class="emotion-graph">
          <%= image_tag  "chart.png", class:"emotion-graph-img"  %>
        </div>
      </div>
      <div class="emotion-card-section">
        <p class="index-title">感情カード一覧</p>
        <div class="cards-frame" >
          <p class="index-title">楽しい</p>
          <div class="cards-area">
            <div class="card card-happy">
              <div class="card-emotion emotion-happy">
                楽しい
              </div>
              <div class="card-day day-1">
                日時：2020/11/13
              </div>
              <div class="card-detail-title">詳細：</div>
              <div class="card-detail-text text-card1">昔の友だちとリモート飲み。<br>懐かしくて楽しかったー。
              </div>
            </div>
            <div class="card card-happy">
              <div class="card-emotion emotion-happy">
                楽しい
              </div>
              <div class="card-day day-1">
                日時：2020/11/13
              </div>
              <div class="card-detail-title">詳細：</div>
              <div class="card-detail-text text-card1">昔の友だちとリモート飲み。<br>懐かしくて楽しかったー。
              </div>
            </div>
            <div class="card card-happy">
              <div class="card-emotion emotion-happy">
                楽しい
              </div>
              <div class="card-day day-1">
                日時：2020/11/13
              </div>
              <div class="card-detail-title">詳細：</div>
              <div class="card-detail-text text-card1">昔の友だちとリモート飲み。<br>懐かしくて楽しかったー。
              </div>
            </div>
            <div class="card card-happy">
              <div class="card-emotion emotion-happy">
                楽しい
              </div>
              <div class="card-day day-1">
                日時：2020/11/13
              </div>
              <div class="card-detail-title">詳細：</div>
              <div class="card-detail-text text-card1">昔の友だちとリモート飲み。<br>懐かしくて楽しかったー。
              </div>
            </div>
            <div class="card card-happy">
              <div class="card-emotion emotion-happy">
                楽しい
              </div>
              <div class="card-day day-1">
                日時：2020/11/13
              </div>
              <div class="card-detail-title">詳細：</div>
              <div class="card-detail-text text-card1">昔の友だちとリモート飲み。<br>懐かしくて楽しかったー。
              </div>
            </div>
            <div class="card card-happy">
              <div class="card-emotion emotion-happy">
                楽しい
              </div>
              <div class="card-day day-1">
                日時：2020/11/13
              </div>
              <div class="card-detail-title">詳細：</div>
              <div class="card-detail-text text-card1">昔の友だちとリモート飲み。<br>懐かしくて楽しかったー。
              </div>
            </div>
          </div>
        </div>
        <div class="cards-frame" >
          <p class="index-title">嬉しい</p>
          <div class="cards-area">
            <div class="card card-grad">
              <div class="card-emotion emotion-grad">
                嬉しい
              </div>
              <div class="card-day day-1">
                日時：2020/11/13
              </div>
              <div class="card-detail-title">詳細：</div>
              <div class="card-detail-text text-card1">昔の友だちとリモート飲み。<br>懐かしくて楽しかったー。
              </div>
            </div>
            <div class="card card-grad">
              <div class="card-emotion emotion-grad">
                嬉しい
              </div>
              <div class="card-day day-1">
                日時：2020/11/13
              </div>
              <div class="card-detail-title">詳細：</div>
              <div class="card-detail-text text-card1">昔の友だちとリモート飲み。<br>懐かしくて楽しかったー。
              </div>
            </div>
            <div class="card card-grad">
              <div class="card-emotion emotion-grad">
                嬉しい
              </div>
              <div class="card-day day-1">
                日時：2020/11/13
              </div>
              <div class="card-detail-title">詳細：</div>
              <div class="card-detail-text text-card1">昔の友だちとリモート飲み。<br>懐かしくて楽しかったー。
              </div>
            </div>
            <div class="card card-grad">
              <div class="card-emotion emotion-grad">
                嬉しい
              </div>
              <div class="card-day day-1">
                日時：2020/11/13
              </div>
              <div class="card-detail-title">詳細：</div>
              <div class="card-detail-text text-card1">昔の友だちとリモート飲み。<br>懐かしくて楽しかったー。
              </div>
            </div>
            <div class="card card-grad">
              <div class="card-emotion emotion-grad">
                嬉しい
              </div>
              <div class="card-day day-1">
                日時：2020/11/13
              </div>
              <div class="card-detail-title">詳細：</div>
              <div class="card-detail-text text-card1">昔の友だちとリモート飲み。<br>懐かしくて楽しかったー。
              </div>
            </div>
            <div class="card card-grad">
              <div class="card-emotion emotion-grad">
                嬉しい
              </div>
              <div class="card-day day-1">
                日時：2020/11/13
              </div>
              <div class="card-detail-title">詳細：</div>
              <div class="card-detail-text text-card1">昔の友だちとリモート飲み。<br>懐かしくて楽しかったー。
              </div>
            </div>
          </div>
        </div>
        <div class="cards-frame" >
          <p class="index-title">悲しい</p>
          <div class="cards-area">
            <div class="card card-sad">
              <div class="card-emotion emotion-sad">
                悲しい
              </div>
              <div class="card-day day-1">
                日時：2020/11/13
              </div>
              <div class="card-detail-title">詳細：</div>
              <div class="card-detail-text text-card1">昔の友だちとリモート飲み。<br>懐かしくて楽しかったー。
              </div>
            </div>
            <div class="card card-sad">
              <div class="card-emotion emotion-sad">
                悲しい
              </div>
              <div class="card-day day-1">
                日時：2020/11/13
              </div>
              <div class="card-detail-title">詳細：</div>
              <div class="card-detail-text text-card1">昔の友だちとリモート飲み。<br>懐かしくて楽しかったー。
              </div>
            </div>
            <div class="card card-sad">
              <div class="card-emotion emotion-sad">
                悲しい
              </div>
              <div class="card-day day-1">
                日時：2020/11/13
              </div>
              <div class="card-detail-title">詳細：</div>
              <div class="card-detail-text text-card1">昔の友だちとリモート飲み。<br>懐かしくて楽しかったー。
              </div>
            </div>
            <div class="card card-sad">
              <div class="card-emotion emotion-sad">
                悲しい
              </div>
              <div class="card-day day-1">
                日時：2020/11/13
              </div>
              <div class="card-detail-title">詳細：</div>
              <div class="card-detail-text text-card1">昔の友だちとリモート飲み。<br>懐かしくて楽しかったー。
              </div>
            </div>
            <div class="card card-sad">
              <div class="card-emotion emotion-sad">
                悲しい
              </div>
              <div class="card-day day-1">
                日時：2020/11/13
              </div>
              <div class="card-detail-title">詳細：</div>
              <div class="card-detail-text text-card1">昔の友だちとリモート飲み。<br>懐かしくて楽しかったー。
              </div>
            </div>
            <div class="card card-sad">
              <div class="card-emotion emotion-sad">
                悲しい
              </div>
              <div class="card-day day-1">
                日時：2020/11/13
              </div>
              <div class="card-detail-title">詳細：</div>
              <div class="card-detail-text text-card1">昔の友だちとリモート飲み。<br>懐かしくて楽しかったー。
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cards-frame" >
        <p class="index-title">怒り</p>
        <div class="cards-area">
          <div class="card card-angry">
            <div class="card-emotion emotion-angry">
              怒り
            </div>
            <div class="card-day day-1">
              日時：2020/11/13
            </div>
            <div class="card-detail-title">詳細：</div>
            <div class="card-detail-text text-card1">昔の友だちとリモート飲み。<br>懐かしくて楽しかったー。
            </div>
          </div>
          <div class="card card-angry">
            <div class="card-emotion emotion-angry">
              怒り
            </div>
            <div class="card-day day-1">
              日時：2020/11/13
            </div>
            <div class="card-detail-title">詳細：</div>
            <div class="card-detail-text text-card1">昔の友だちとリモート飲み。<br>懐かしくて楽しかったー。
            </div>
          </div>
          <div class="card card-angry">
            <div class="card-emotion emotion-angry">
              怒り
            </div>
            <div class="card-day day-1">
              日時：2020/11/13
            </div>
            <div class="card-detail-title">詳細：</div>
            <div class="card-detail-text text-card1">昔の友だちとリモート飲み。<br>懐かしくて楽しかったー。
            </div>
          </div>
          <div class="card card-angry">
            <div class="card-emotion emotion-angry">
              怒り
            </div>
            <div class="card-day day-1">
              日時：2020/11/13
            </div>
            <div class="card-detail-title">詳細：</div>
            <div class="card-detail-text text-card1">昔の友だちとリモート飲み。<br>懐かしくて楽しかったー。
            </div>
          </div>
          <div class="card card-angry">
            <div class="card-emotion emotion-angry">
              怒り
            </div>
            <div class="card-day day-1">
              日時：2020/11/13
            </div>
            <div class="card-detail-title">詳細：</div>
            <div class="card-detail-text text-card1">昔の友だちとリモート飲み。<br>懐かしくて楽しかったー。
            </div>
          </div>
          <div class="card card-angry">
            <div class="card-emotion emotion-angry">
              怒り
            </div>
            <div class="card-day day-1">
              日時：2020/11/13
            </div>
            <div class="card-detail-title">詳細：</div>
            <div class="card-detail-text text-card1">昔の友だちとリモート飲み。<br>懐かしくて楽しかったー。
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-right">
      <div class="calender-area">
        <%= image_tag  "calender_sample.png" %>
      </div>
      <div class="whether-frame">
        <p class="index-title">2020/11/24の天気</p>
        <div class="whether-img-area">
          <%= image_tag  "sun.svg", class:"sunny"  %>

        </div>
      </div>

    </div>
  </div>

</main>

<footer>
  <div class="footer-main">
    <div class="cp">
      Copyright © Taisuke Sato
    </div>
  </div>
</footer>